.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgba(210, 242, 248, 0.932);
}

.formulario:hover {
    border: 3px solid rgba(115, 180, 176, 0.925);
}
.formulario{
    background: rgb(104, 230, 230);
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 20px;
    box-shadow: 15px 15px  rgb(90, 185, 185);
}
/* Para mostrar, habilite el contenido del atributo type*/
p:before {
    content: attr(type);
    display: block;
    /*ocupar el espacio completo del bloque el otro elemento lo desplaza*/
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(36, 175, 164);
    font-size: 20px;
    margin-top: 20px;
}

form {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

input{
    width: 230px;
    border: none;
    border-bottom: 1.5px solid rgb(48, 183, 201);
    background: none;
    color: rgb(74, 138, 138);
}
input:hover {
    border: 0.1px solid;
    border-color: rgba(19, 163, 207, 0.897);
    background-color: rgb(126, 226, 240);
    color: rgb(43, 179, 233);
    transition: ease-in 0.2s;
}


input:focus{
    outline: none;
    border-bottom: 2px solid rgb(36, 160, 177);
}


i{
    color: rgb(59, 160, 135);
}
footer{
    margin-top: 30px;
}
button{
    padding: 10px 20px;
    background: rgb(76, 192, 207);
    border: none;
    border-radius: 20px;
    color: rgb(26, 83, 83);
    margin-top: 15px;
}
button:hover{
     background: rgb(44, 137, 150);
     color: rgb(18, 56, 56);
}
.centrar_boton{
    display: flex;
    justify-content: center;
}

header{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}
h2,header{
    color: rgb(40, 138, 138);
    border-bottom: 1.5px solid rgb(24, 102, 102);
}