.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulario{
    margin-top: 10%;
    padding: 30px 40px 10px 10px;    
    display: flex;
    flex-direction:row;
}
form {
    display: flex;  
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-left: 5%;
    width: 50%;
}
input{
    width: 90%;
    height: 35px;
    display: block;
    border-radius: 5px;
    border: 1.5px solid black;
    margin-top: 5px;
    margin-bottom: 30px;
}
.botonstyle{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 20px;
    background: rgb(112, 112, 218);
    font-size: 20px;
    border: none;
    border-radius: 8px;   
    width: 100%;
    height: 50px;
}
.image{
    display: flex;
    align-content: center;
    align-items: center;
    width: 80%;
}
.ima{
    height: 300px;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(141, 141, 141, 0.945);
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(157, 157, 158);
}
span{
    border-radius: 10px;
    color: rgb(185, 8, 8);
    font-weight: bold;
    display: none;
}

